body {
  font-family: "Inter", sans-serif !important;
}

header .container {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 0;
}
header a {
  font-weight: bold;
}
header a, header ul {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
}
header .nav-link {
  color: #6C5CE7 !important;
  position: relative;
  padding: 0 10px;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.2s ease;
}
header .nav-link:hover {
  color: black !important;
  font-weight: bold;
}
header .nav-item {
  display: flex;
  align-items: center;
}
header .dot-svg {
  width: 20px;
  height: 20px;
  display: block;
  fill: #FDCB6E;
}
header button {
  font-weight: bold !important;
  font-size: 18px !important;
  font-weight: 700 !important;
  color: white !important;
  background-color: #6C5CE7 !important;
  padding: 10px 25px;
  border-radius: 50px;
  border: none;
}
header #burger {
  display: none;
}

.body {
  background-image: url(http://localhost:3000/assets/img/background.png) !important;
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 70%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 0.5fr);
  gap: 25px;
}

.header-text {
  grid-column: 2/7;
  grid-row: 1/2;
  text-align: center;
  font-weight: 800;
  color: #2D3436;
}
.header-text h1 {
  font-size: 72px;
  display: inline-block;
  font-weight: 800 !important;
  text-shadow: 0 2px 0.3px #fff;
}
.header-text .highlight-desktop {
  color: #D63030;
  background-color: #54EFC4;
  padding: 5px;
  border-radius: 50px;
}
.header-text p {
  font-size: 48px;
}

.header-mobile-text {
  display: none;
}

.highlight-mobile {
  display: none;
}

.left-text {
  font-weight: 400px;
  font-size: 12px;
  grid-column: 2/3;
  grid-row: 2/3;
  padding: 20px;
  border-radius: 10px;
}

.image-title-green-block {
  grid-column: 3/5;
  grid-row: 2/4;
  background-color: #00B894;
  padding: 20px;
  align-items: end;
  border-radius: 20px;
  text-align: center;
  max-width: 470px;
  max-height: 380px;
  display: flex;
  overflow: hidden;
  position: relative;
}
.image-title-green-block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  filter: hue-rotate(50deg);
}
.image-title-green-block .green-desktop-text {
  z-index: 2;
  color: white !important;
  font-size: 36px;
  font-weight: 700;
  text-shadow: 0 2px 0.3px black;
}
.image-title-green-block .green-mobile-text {
  display: none;
}

.right-text {
  font-weight: 400px;
  font-size: 18px;
  grid-column: 5/7;
  grid-row: 2/3;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.middle-block-lilac {
  background-color: #A29BFE;
  grid-column: 5/6;
  grid-row: 3/4;
  border-radius: 20px;
  max-width: 170px;
  max-height: 222px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.middle-block-lilac img {
  height: 100%;
  object-fit: fill;
}

.small-image-blue-block {
  grid-column: 6/7;
  grid-row: 3/4;
  justify-content: center;
  align-items: center;
}
.small-image-blue-block img {
  width: auto;
  height: auto;
}

.bottom-block {
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  border-radius: 20px;
}
.bottom-block.yellow {
  background-color: #FDCB6E;
  grid-column: 2/3;
  grid-row: 3/5;
  text-align: center;
  max-width: 270px;
  max-height: 464px;
  display: flex;
  overflow: hidden;
  position: relative;
}
.bottom-block.yellow img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.bottom-block.yellow .bold-text {
  z-index: 2;
  color: white !important;
  font-size: 16px;
  font-weight: 700;
  color: #2D3436;
  display: block;
}
.bottom-block.yellow .secondary-text {
  z-index: 2;
  color: white !important;
  font-weight: 400;
  font-size: 12px;
  color: #2D3436;
  display: block;
}
.bottom-block.pink {
  background-color: #D63030;
  grid-column: 3/4;
  grid-row: 4/6;
  max-width: 270px;
  max-height: 284px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.bottom-block.pink img {
  height: 120%;
  object-fit: fill;
}
.bottom-block.purple {
  background-color: transparent;
  grid-column: 4/6;
  grid-row: 4/7;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
  max-width: 370px;
  max-height: 356px;
}
.bottom-block.purple img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  filter: hue-rotate(305deg);
}
.bottom-block.purple p {
  z-index: 2;
  color: white;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  text-shadow: 0 2px 0.3px black;
}
.bottom-block.red {
  background-color: #FF7675;
  grid-column: 6/7;
  grid-row: 4/6;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 170px;
  max-height: 222px;
}
.bottom-block.red img {
  height: 130%;
  object-fit: fill;
}

.button-block {
  grid-column: 2/3;
  grid-row: 5/6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-block button {
  padding: 10px 25px;
  font-size: 24px;
  color: white;
  font-weight: 700;
  background-color: #6C5CE7;
  border: none;
  border-radius: 50px;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.1);
}

.designs-section {
  padding: 40px 100px;
}
.designs-section h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
}
.designs-section .description {
  font-size: 18px;
  color: #636e72;
  margin: 0 auto 40px;
}
.designs-section .features-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.designs-section .features-grid .feature-card {
  background-color: #fff;
  border: none;
  border-radius: 12px;
  padding: 20px;
  max-width: 220px;
  flex: 1 1 calc(25% - 20px);
}
.designs-section .features-grid .feature-card .feature-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  left: 0;
  top: 20px;
  transform: none;
  margin: 0;
  margin-bottom: 15px;
}
.designs-section .features-grid .feature-card .feature-icon img {
  width: 100%;
  height: auto;
}
.designs-section .features-grid .feature-card .feature-icon.pink {
  background-color: #e84393;
}
.designs-section .features-grid .feature-card .feature-icon.blue {
  background-color: #0984E3;
}
.designs-section .features-grid .feature-card .feature-icon.purple {
  background-color: #6C5CE7;
}
.designs-section .features-grid .feature-card .feature-icon.green {
  background-color: #00B894;
}
.designs-section .features-grid .feature-card h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #2d3436;
  font-weight: 700;
}
.designs-section .features-grid .feature-card p {
  font-size: 18px;
  font-weight: 400;
  color: #636e72;
  margin-bottom: 20px;
}
.designs-section .features-grid .feature-card .learn-more-btn {
  background-color: transparent;
  border: 1px solid #ADADAD;
  border-radius: 30px;
  padding: 10px 20px;
  color: #6c5ce7;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.designs-section .features-grid .feature-card .learn-more-btn:hover {
  background-color: #6c5ce7;
  color: white;
}

@media (max-width: 768px) {
  .body {
    background-image: url(http://localhost:3000/assets/img/wave.png) !important;
    background-size: cover;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  #burger {
    display: flex !important;
  }
  #grid-icon {
    display: none;
  }
  .nav {
    display: none;
  }
  .highlight-desktop {
    display: none;
  }
  .highlight-mobile {
    color: #D63030;
    background-color: #54EFC4;
    padding: 5px;
    border-radius: 50px;
    display: inline-flex;
  }
  .header-desktop-text {
    display: none;
  }
  .header-mobile-text {
    font-size: 24px !important;
    display: inline-block;
    padding: 10px;
    text-shadow: 0 2px 0.3px #fff;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 0.5fr);
    gap: 25px;
  }
  .left-text {
    grid-column: span 2;
  }
  .image-title-green-block {
    grid-column: 3/5;
    grid-row: 2/4;
    grid-column: span 2;
  }
  .image-title-green-block .green-desktop-text {
    display: none;
  }
  .image-title-green-block .green-mobile-text {
    z-index: 2;
    color: white !important;
    font-size: 36px;
    font-weight: 700;
    text-shadow: 0 2px 0.3px black;
  }
  .image-title-green-block img {
    text-align: center;
    max-width: 224px;
    max-height: 183px;
    display: flex;
    overflow: hidden;
    z-index: 1;
  }
  .right-text {
    grid-column: span 2;
  }
  .right-text p {
    font-size: 1rem;
  }
  .middle-block-lilac img, .small-image-blue-block img, .bottom-block img {
    width: 100%;
  }
  .bottom-block.yellow p, .bottom-block.pink p, .bottom-block.purple p, .bottom-block.red p {
    font-size: 0.9rem;
  }
  .button-block {
    grid-column: span 2;
  }
  .button-block button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
  }
  .features-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .features-grid .feature-card {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .purple-span {
    color: #6C5CE7;
  }
  .emojis {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
